.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.headerLogo{
    display: flex;
    align-items: center;
}

.headerLogo h1{
    font-family: var(--titleFont);
}

.headerLogo img{
    height: 30px;
}

.Header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.popUpNav{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(233 227 180 /0.9);
    margin: 0;
    padding: 40px 0;
    gap:30px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleY(0);
    transition-duration: 0.5s;
    transform-origin: top;
    z-index: 2;
}

.popUpNav.appear{
    transform: scaleY(1);
    
}

.popUpNav li{
    width: 200px;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    font-size: var(--normalText);
    border-radius: 30px;
    transition: transform 0.2s;
    cursor: pointer;
}


.popUpNav li:hover{
    transform: translateY(-5px);
}