.Job .JobCards{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Job .JobCard{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin : 10px;
    background-color: var(--white);
    border-radius: 20px;
    width : 80%;
    max-width : 300px;
    min-height : 200px;
    max-height: fit-content;
    padding : 10px 20px;
    cursor: pointer;
}

.Job .JobCard:hover{
    box-shadow : 0px 0px 10px var(--blue);
}

.Job .JobCard h3{
    font-family: var(--titleFont);
    Color : var(--blue);
}

.Job .JobCard p, ul{
    font-family: var(--textFont);
    font-size: var(--normalText);
}

.Job .JobCard ul{
    display : flex;
    flex-direction: column;
    width : 100%;
}


.Job .JobCard .info p{
    font-size: var(--smallText);
    text-align: center;
    font-weight: 600;
    margin: 5px 0;
}

.jobCard h4{
    font-size: var(--smallText);
    text-align: center;
    font-weight: 600;
    margin: 5px 0;
}

.Job .JobHead{
    text-align: center;
    margin: 20px 0;
}

.Job .JobHead h1{
    font-size: var(--massiveText);
    font-family: var(--titleFont);
}

.Job .JobHead a{
    font-size: var(--normalText);
    text-decoration: underline;
    color: var(--blue);
}