@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
  --backColor: #E9E3B4;
  --black: #222725;
  --white: #EDF2F4;
  --blue: #0072BB;
  --red:#EB5E55;
  --smallText: 11px;
  --normalText: 14px;
  --bigText: 20px;
  --largeText:22px;
  --massiveText:32px;
  --titleFont: 'MuseoModerno';
  --textFont: 'Wix Madefor Text';
}


body{
  margin: 0;
  background-color: var(--backColor);
  min-height: 100vh;
  font-family: var(--textFont);
  color: var(--black);
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

a{
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

input{
  font-family: inherit;
}